<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418913874304-f34u1t986698fphehoiag6fkj3jecbbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418913874304-f34u1t986698fphehoiag6fkj3jecbbl</string>
	<key>API_KEY</key>
	<string>AIzaSyBLHrTCgk76XlHvw1IZl0zrmpe74fbihMI</string>
	<key>GCM_SENDER_ID</key>
	<string>418913874304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.slobodianiuk.Rent95release</string>
	<key>PROJECT_ID</key>
	<string>rent95-car-rental</string>
	<key>STORAGE_BUCKET</key>
	<string>rent95-car-rental.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418913874304:ios:3433f309dd313f5b6bd165</string>
	<key>DATABASE_URL</key>
	<string>https://rent95-car-rental.firebaseio.com</string>
</dict>
</plist>